<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="/styles/base.css" type="text/css" rel="stylesheet" />
  <link href="/styles/icons.css" type="text/css" rel="stylesheet" />
  <link href="/styles/layout.css" type="text/css" rel="stylesheet" />
  <link href="/styles/modules.css" type="text/css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <title>Search Results</title>
</head>
<header>
  <%- include('../nav') %>
  <h1 class="titles">Search Results</h1>
</header>

<body>

  <% books.forEach(book => { %>
  <section class="book-box">
    <img src="<%= book.image %>" />
    <h2><%= book.title  %></h2>
    <h3><%= book.author  %></h3>
    <p id="description"><%= book.description %></p>
    <section id="lower-box">

      <p id="pages">Total Pages: <%= book.numberOfPages %></p>
      <p id="rating">Avg Rating: <%= book.averageRating %></p>
      <p><%= book.isbn %></p>
    </section>

    <form id="save-form" action="/books/save" method="post">
      <input type="hidden" value="<%= book.image %>" name="image">
      <input type="hidden" value="<%= book.title %>" name="title">
      <input type="hidden" value="<%= book.author %>" name="author">
      <input type="hidden" value="<%= book.isbn %>" name="isbn">
      <input class="toggle-value" type="hidden" value="<%= book.description %>" name="description">
      <input type="hidden" value="<%= book.numberOfPages %>" name="numberOfPages">
      <input type="hidden" value="<%= book.averageRating %>" name="averageRating">
      <input class="toggle-value" type="hidden" value="Enter Bookshelf" name="bookshelf">
      <button class="save-button" id="show-form-button">Show Form</button>
      <button class="save-button" id="save-data">Save</button>
    </form>
  </section>
  <% }) %>
</body>
<script src="app.js"></script>
<footer>
</footer>

</html>